In [1]:
#Análisis de Datos del Proyecto MetricForest

In [2]:
import pandas as pd

In [12]:
from matplotlib import pyplot as plt

In [15]:
datos = pd.read_csv("fuente.csv")

In [16]:
datos

    Sector;Grupo;Sendero;Distancia (m);Parcela;Árbol;Especie;DAP (cm);HT (m);HC (m);LD; AB (m2)
0         I;1;2;150;1;1;Encino;5.1; 4.91;1.79;0;0.0020
1         I;1;2;150;1;2;Encino;9.4; 7.77;3.07;0;0.0069
2        I;1;2;150;1;3;Roble;25.6; 11.91;6.79;1;0.0515
3              I;1;2;150;1;4;Nance;6.7; 7.58;;0;0.0035
4        I;1;2;150;1;5;Roble;23.3; 11.94;6.06;0;0.0426
..                                                 ...
520  III;10;26;10;5;9;Encino;9.5;5.6261;3.048;0;0.0071
521        III;10;26;10;5;10;Carbón;8;5.2451;;0;0.0050
522      III;10;26;10;5;11;Carbón;5.3;3.2131;;0;0.0022
523  III;10;26;10;5;12;Encino;9.5;6.6421;2.1336;1;0...
524   III;10;26;10;5;13;Molinillo;9.5;4.4704;;0;0.0071

[525 rows x 1 columns]